<div>
  Lock Random:
  <ui-switch (change)="toggleRandom($event)"></ui-switch>
</div>

<div class="btn-group" ngbDropdown>
  <button class="btn btn-outline-primary" ngbDropdownToggle [disabled]="random">{{ category || 'Random' }}</button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <button class="dropdown-item"  *ngFor="let category of categories" (click)="setCategory(category)">{{category}}</button>
  </div>
</div>

<p>Seconds to next joke: {{ secondsToJoke }}</p>

<div *ngIf="joke">
  <a href="{{joke.url}}">
    {{joke.value}}
  </a>
</div>